<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="FAAC CSV Fixer" Version="1.0.2.0" Manufacturer="FAAC GmbH"
        UpgradeCode="bea2dd3a-c193-43a1-8498-9fc2244ee41e" Language="1031">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade
            DowngradeErrorMessage="Es ist bereits eine neuere Version des [ProductName] installiert." />
        <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
        <Media Id="2" Cabinet="cab2.cab" EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="Config.exe" />
            <ComponentRef Id="CSVService.exe" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="DesktopFolder" />

                <Directory Id="INSTALLFOLDER" Name="FAAC CSV Fixer">

                    <Component Id="Config.exe" Guid="b130e5bf-4c8a-41b2-a162-046a1e9d595d">
                        <RegistryValue Root="HKLM" Key="SOFTWARE\FAAC\CSVFixer" 
                            Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                        <File Id="Config.exe" Source="./publish/gui/CSVFixConfigurator.exe"
                            KeyPath="no" Checksum="yes" />
                        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="CSV Fix Configurator"
                            Target="[INSTALLFOLDER]CSVFixConfigurator.exe" WorkingDirectory="INSTALLFOLDER" />
                        <RemoveFile Id="RemoveCSVConfig.exe" Name="CSVFixConfigurator.exe"
                            On="uninstall" />
                    </Component>

                    <Component Id="CSVService.exe" Guid="*">
                        <File Id="CSVService.exe" Source="./publish/service/CSVFixService.exe"
                            KeyPath="yes" Checksum="yes" />
                        <RemoveFile Id="RemoveCSVService.exe" Name="CSVFixService.exe"
                            On="uninstall" />
                        <ServiceInstall
                            Id="ServiceInstaller"
                            Type="ownProcess"
                            Vital="yes"
                            Name="FAAC CSV Fixer"
                            DisplayName="FAAC CSV Reparaturdienst"
                            Description="Repariert die CSV Dateien für die Kennzeichenerkennung der FAAC"
                            Start="auto"
                            Account="LocalSystem"
                            ErrorControl="ignore"
                            Interactive="no">
                        </ServiceInstall>
                        <ServiceControl Id="StartService" Start="install"
                            Remove="uninstall" Name="FAAC CSV Fixer" Wait="no" Stop="both" />
                    </Component>

                </Directory>
            </Directory>
        </Directory>
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <UIRef Id="WixUI_InstallDir" />

    </Product>
</Wix>